<div id="add"></div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Create your Recipe</h1>
        </div>
    </div>
    <div class ="row">
        <div class="col-md-8 mx-auto">
            <form id="newRecipeForm">
                <div class="form-group">
                    <label for="RecipeName">Recipe Name</label>
                    <input type="text" class="form-control" id="RecipeName" placeholder="enter recipe name">
                </div>
                <div class="form-group">
                    <label for="imageURL">Description</label>
                    <textarea class="form-control" id="description"></textarea>
                </div>
                <div class = "form-group">
                    <label for="description">Images Link</label>
                    <textarea class="form-control" id="imageURL"></textarea>
                </div>
                <div class="form-group">
                    <a>Ingredient: </a>
                    <div id="ingredientList">
                    </div>
                    <div id = "newIngredientForm" >
                    </div>
                    <button class="addIngredient">+</button>
                </div>
                <div class="form-group">
                    <label for="instructions">Instructions</label>
                    <textarea class="form-control" id="instructions" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" id="add-recipe">Add Recipe </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src='/js/createRecipe.js'></script>