 <script src='/js/createRecipe.js'></script>
 <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<div id="add">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Recipe Name</label>
                                    <input type="email" class="form-control" id="RecipeName"
                                        placeholder="enter recipe name">
                                </div>
                                <div class="form-group">
                                    <div class="ingredientList">
                                        <div class="row ingredientRow">
                                            <a>Ingredient: </a>
                                            <input type="text" class="ingredientQuantity" name="ingredientQuantity"
                                                placeholder="Ingredient Quantity">
                                            <input type="text" class="ingredientName" name="ingredientName"
                                                placeholder="IngredientName">
                                            <input type="text" class="ingredientMeasurement"
                                                name="ingredientMeasurement" placeholder="Ingredient Measurement">
                                            <button class="addIngredient">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Instructions</label>
                                    <textarea class="form-control" id="instructions" rows="3"></textarea>
                                </div>
                                <div>
                                    <button type="submit" id="add-recipe">Add Recipe </button>
                                </div>
                            </form>
                        </div>
                       