<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>Recipes</h1>
    </div>
  </div>
  <div class="de-flex flex-wrap">
    {{#each recipes}}
      {{> recipeCard}}
    {{/each}}
  </div>
</div>

