<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Create your Recipe</h1>
        </div>
    </div>
    <div class ="row">
        <div class="col-md-10 mx-auto">
            <form>
                <div class="form-group">
                    <label for="RecipeName">Recipe Name</label>
                    <input type="text" class="form-control" id="RecipeName" placeholder="enter recipe name">
                </div>
                <div class="form-group">
                    <div class="ingredientList">
                        <div class="row ingredientRow">
                            <a>Ingredient: </a>
                            <input type="text" class="ingredientQuantity" name="ingredientQuantity" placeholder="Ingredient Quantity"> 
                            <input type="text" class="ingredientName" name="ingredientName" placeholder="IngredientName">
                            <input type="text" class="ingredientMeasurement" name="ingredientMeasurement" placeholder="Ingredient Measurement">
                            <button class="addIngredient">+</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="imageURL">Images Link</label>
                    <textarea class="form-control" id="imageURL"></textarea>
                </div>
                <div class="form-group">
                    <label for="instructions">Instructions</label>
                    <textarea class="form-control" id="instructions" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" id="add-recipe">Add Recipe </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src='/js/createRecipe.js'></script>

                       