<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<!------ Include the above in your HEAD tag ---------->
<div id="shop"></div>
<div class="container">
  <div class="shop">
    <div id="myDIV" class="header">
      <h2>My Shopping List</h2>
      <input type="text" id="myInput" placeholder="Add Item">
    </div>