<script src='/js/createRecipe.js'></script>
<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<div id="recipe">
  <div class="container">
    <div class="view">
      <div class="col-8 offset-2">
        <h1></h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <form>
              <div class="recipe-name">
                <label for="recipe name"><style="text-align:center;"></style>Recipe Name</label>
              </div>
              <div></div>
              <div class="view-ingridient">
                <label for="view-ingridient"><style="text-align:center;"></style>Ingridients</label>
              </div>
              <div></div>
          </div>
        </div>
      </div>
      <div class="view-instruction">
        <label for="view-instruction"><style="text-align:center;"></style>Instructions</label>
      </div>
      <div></div>
      </form>
    </div>